div.polaroid {
  width: auto; /* 80%; */
  border: 2px inset #993300; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  z-index: -2;
}

div.polaroidtext {
  border-top: 2px inset #993300; 
  text-align: center;
  background-color: white;
  padding: 3px 3px;
}